body {
    font-family: sans-serif;
    font-size: 14px;
}

form {
    display:inline;
}

h4 {
    margin: 10px 0 0 0;
    padding: 0;
}

pre.preBox {
    margin: 0 0 0 7px;
    padding: 0 0 0 3px;
    border-left: 7px solid #ccc;
    font-size: 12px;
}

em {
    font-style: normal;
    font-weight: bold;
}

form {
    margin: 0;
    padding: 0;
}

input.name {
    width:700px;
}

input[type=text], select {
    margin: 0;
    padding: 0;
    border: 1px solid #aaa;
    font-family: courier, serif;
}

.hidden {
    display: none;
}

.jobBox {
    border: 2px solid #aaa;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
    padding: 5px;
    background-color: #fafafa;
}

.reduced {
    height: 15px;
}

.jobToggle {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
	background-color:#fafafa;
	padding-left:5px;
}

.fieldBox {
	font-family:monospace;
    display: block;
    float: left;
    height: 18px;
	font-size:11px;
    color:#666;
	overflow: hidden;
	margin:0 10px 0 0;
}
.fieldBox em {
	color:#000;
	font-size:11px;
	font-weight:bold;
	margin:0 5px 0 0;
}

.scriptName {
    /* style="width:800px;" */
    width:800px;
}

.clear {
    content: ".";
    display: block;
    height: 1px;
    width: 1px;
    clear: both;
}

.error {
    border-left: 15px solid red;
}

.success {
    border-left: 15px solid green;
}

.error-mark {
    /*background-color: red;*/
    /*font-weight: bold;*/
    background: rgb(255, 200, 200);
    /*line-height:17px;*/
}

.CodeMirror {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.CodeMirror-matchhighlight { 
	background: #CCCCFF; /* blueish*/
}

div.CodeMirror-focused .CodeMirror-selected { 
	background: #DDAADD !important; /* redish */
}

.code {
    /* nothing */
}

.footer {
    text-align: center;
    font-size: small;
    color:#aaa;
}
